@charset "utf-8";

p {
  margin:20px;
}

header {
  background-color:cornflowerblue;
  padding:25px;
}
nav {
  background-color:black;
  padding:20px;
  margin:25px;
  border-style:solid;
  border-color:red;
  border-width:5px;
}
footer {
  background-color:orange;
  padding:15px;
  margin-top:20px;
}

html {
  background-color:gray;
}
body {
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size:48px;
  font-weight:bold;
  color:red;
}
h2 {
  font-family: 'Pacifico', cursive;
  font-size:24px;
  font-weight:bold;
}
