@charset "utf-8";
/* CSS Document */

#hero {
  height:350px;
  background-image:url(../images/bkg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

main {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}

main h2 {
  text-align:center;
  color:green;
  font-size:32px;
  margin-top:25px;
  margin-bottom:25px;
}
main p {
  display:inline-block;
  width:600px;
  vertical-align:top;
  margin-left:20px;
}

 nav ul {
   margin:0;
   padding:0;
   list-style-type:none;
 }
 nav a {
   text-decoration:none;
   color:green;
   font-size:24px;
   font-family:sans-serif;
   padding-left:15px;
   padding-right:15px;
   padding-top:10px;
   padding-bottom:10px;
   display:block;
 }
 nav a:hover {
   color:white;
   background-color:green;
 }
nav li {
  display:inline-block;
}
header {
  box-shadow:3px 3px 8px gray;
}
